# * Este es un ejemplo de las variables de entorno, el cual debe de ser renombrado a ".env.local" para que funcione
# ! Sin este archivo, no funciona el proyecto

# Base de datos
DATABASE_URL=""

# NextAuth
NEXTAUTH_SECRET="[generar un ssl con base64 32]"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
